<% title " - Глоссарий" %>
<div class="row">
  <div class="col s12">
    <nav>
      <div class="nav-wrapper">
        <%= form_tag(determinations_path, :method => "get", id: "search-form") do %>
            <div class="input-field teal">
              <%= text_field_tag :search, params[:search], placeholder: "Поиск", type: 'search', id: 'area' %>
              <i class="material-icons" onclick="cross_click()">close</i>
            </div>
              <!-- <%= submit_tag "Search" %> -->
            <% end %>
      </div>
    </nav>
  </div>
</div>
<% if current_user.try(:admin?) %>
  <div class="fixed-action-btn">
    <%= link_to new_determination_path, class:'btn-floating btn-large shadow-t' do %>
      <i class="large material-icons">add</i>
    <% end %>
  </div>
<% end %>
<br><br>
<div class="row">
<% @determinations.each do |determination| %>
  <div class="col s1<%= current_user.try(:admin?)? '1': '2' %> m<%= current_user.try(:admin?)? '5': '6' %> l<%= current_user.try(:admin?)? '3': '4' %>">
    <%= link_to determination_path(determination) do %>
      <div class="card-panel teal shadow-t">
        <span class="white-text flow-text">
          <%= determination.title %>
        </span>
      </div>
    <% end %>
  </div>
<% if current_user.try(:admin?) %>
<div class="col s1">
  <a class='dropdown-button' href='#' data-activates='dropdown<%= @count %>'><i class="material-icons black-text">more_vert</i></a>
  <ul id='dropdown<%= @count %>' class='dropdown-content'>
    <li><%= link_to 'Изменить', edit_determination_path(determination) %></li>
    <li><%= link_to 'Удалить', determination_path(determination), method: :delete, data: { confirm: 'Вы уверены?' } %></li>
  </ul>
</div>
<% end %>
<% @count += 1 %>
<% end %>
</div>
