<div class="row">
  <div class="col s12 m3 z-depth-1" style="min-height:600px;">
    <p class="flow-text"><strong>Микро-блог</strong></p>
    <% @messages.each do |message| %>
    <blockquote>
      <%= message.body %>
    </blockquote>
    <% end %>
  </div>
  <div class="col s12 m1">

  </div>
  <div class="col s12 m8 z-depth-1" style="min-height:600px;">
    <p class="flow-text"><strong>Последние обновления</strong></p>
    <p class="flow-text">Глоссарий: <%= if @last_determination then link_to @last_determination.title, determination_path(@last_determination.id) else 'нет' end %></p>
    <p class="flow-text">Теория: <%= if @last_theory then link_to @last_theory.title, theory_path(@last_theory.id) else 'нет' end %></p>
    <p class="flow-text">Практика: <%= if @last_practice then link_to @last_practice.title, practice_path(@last_practice.id)  else 'нет' end %></p>
    <p class="flow-text">Проверка знаний: <%= if @last_quiz then link_to @last_quiz.title, {controller: 'attempts', action: 'new', quiz: @last_quiz.id}   else 'нет' end %></p>
  </div>
</div>
<% if current_user.try(:admin?) %>
<div class="row">
  <%= form_for @message do |f| %>
  <div class="row">
    <div class="input-field col s12 m3">
      <%= f.text_field :body, id:'write', autocomplete:'off' %>
      <label for="write">Напишите что-нибудь в блог...</label>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m3">
      <%= f.submit 'Отправить', class:'waves-effect waves-light btn col s12'%>
    </div>
  </div>
  <% end %>
</div>
<% end %>
